/*My website CSS*/

header.head-part {
  padding: 0 80px 0;
  margin: 50px 0 0;
  font-family: Arial, x-locale-body, sans-serif;
}
h1.head-part {
  color: #df1461;
  margin-bottom: 0;
  width: auto;
  font-size: 54px;
}
p.head-part {
  margin-top: 0;
  width: auto;
}
#head-grid {
  grid-template-columns: 25% 75%;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 'logo buttons';
  display: grid;
  width:auto;
  margin: 0;
}
.menu-button {
  float: left;
  vertical-align: bottom;
  padding-right: 30px;
  margin: 0;
}
#head-buttons {
  display: block;
  position: relative;
  margin-bottom: 1em;
  grid-area: buttons;
}
.head-buttons {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  list-style-type: none;
  margin-bottom: 0;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}
.container div {
  width: auto;
  font-family: Arial, x-locale-body, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}
main {
  padding: 0 60px 0;
  line-height: 1.5em;
  font-size: 17px;
}
p {
  color: #333;
  overflow: hidden;
}
.menu-button > a {
  color: #333;
  text-decoration: none;
}
.content-text {
  color: #333;
  overflow: hidden;
}

h2 {
  font: arial;
}
.wrapper_pad {
  margin: 0 80px;
  width: 100%;
  border-top: 4px solid #008489;
  padding-top: 60px;
  border-bottom: 4px solid #008489;
}
.content-section {
  grid-template-columns: 75% 25%;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 'main' 'side_bar';
  display: grid
}
#main_part {
  text-align: left;
  font-size: 17px;
  line-height: 1.5em;
}
aside {
  width: 100%;
  float: left;
}
header.side-bar {
  padding: 0
}
div.side-bar {
  padding: 0 1em 1em;
  background-color: #fcfcfc;
  border: solid 1px #dce3e5;
  margin-bottom: 2em;
}
.side-bar a {
  color: inherit;
  text-decoration: none;
  line-height: 2em;
}
a {
  color: inherit;
}
.side-bar li{
  line-height: 2em;
}
h4.side-bar::before {
  display: block;
  background-image: linear-gradient(-270deg, #4a9fc4, #fcfcfc);
  content: '';
  height: 2px;
}
.chart {
  display: block;
  margin: 0 auto;
}
figure {
  margin: 2em auto;
}
figcaption {
  text-align: center;
  font-size: 0.8em;
}
ul {
  list-style-type: none;
  padding: 0;
}
.info-list {
  font-size: 18px;
  width:50%;
  float:left;
  border: solid 2px #dce3e5;
  background-color: #fcfcfc;
  margin-right: 1em;
}
figure.info-chart {
  float: left;
  margin: 1em 1em 1em 0;
}
.info-list::before, .info-list::after {
  display: block;
  background-image: linear-gradient(-270deg, #4a9fc4, #fcfcfc);
  content: '';
  height: 2px;
}
