/*My website CSS*/

/*Fonts*********************************/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');


/*CSS************************************/
body {
  background-color: #fbfbfb;
}

header.head-part {
  margin: 50px 80px 0;
  font-family: Arial, x-locale-body, sans-serif;
}

h1.head-part {
  color: #333333;
  margin-bottom: 0;
  width: auto;
  font-size: 32px;
  font-family: source-code-pro, monospace;
  font-weight: 300;
  font-style: normal;
}

p.head-part {
  margin-top: 0;
  width: auto;
}

#head-grid {
  grid-template-columns: 25% 75%;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 'logo buttons';
  display: grid;
  width: auto;
  margin: 0;
}

.menu-button {
  margin: 0;
}

#head-buttons {
  display: block;
  position: relative;
  margin-bottom: 0.3em;
  grid-area: buttons;
}

.head-buttons {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0px;
  list-style-type: none;
  margin-bottom: 0;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
}

.container div {
  width: auto;
  font-family: Montserrat, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #5e5e5e;
}

#project-sign {
  display: block;
  margin:auto;
}

#pdf_box_container {
  margin: 0 2rem 2rem;
  position: relative;
}

h1.project_title {
  margin: 0;
  font-size: 38px;
  text-align: center;
  font-family: Sintony,input-sans,sans-serif;
  font-weight: 800;
  font-style: normal;
}
h2.title_extra {
  margin: 10px 0 4rem 0;
  font-size: 17px;
  text-align: center;
  font-family: Sintony,input-sans,sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #aaa;
}

.pdf_box {
  display: grid;
  font-size: 15px;
  padding: 3em 0;
  /* overflow: auto;  include if scroll for pdf enabled*/
}

.project-container:hover, .pdf_box img:hover {
  box-shadow: 0 0 1px 2px rgba(140, 140, 140, 0.5);
  opacity: 0.7;
}

.box_left {
  grid-template-columns: 61.8% 38.2%;
  height: max-content;
}

.box_right {
  grid-template-columns: 38.2% 61.8%;
  height: max-content;
}

.box_center {
  font-size: 15px;
  padding: 3em 0;
  grid-template-rows: max-content max-content;
  grid-template-areas: 'first'
                       'second';
  grid-template-columns: none;
  height: max-content;
}

hr {
  display: block;
  border: none;
  border-top: dotted 2px;
  color: #bbb;
  margin: auto;
}

hr.seperator {
  width: 50%;
  position: absolute;
  right: 0px;
  margin: 0;
}

hr.seperator_full {
  width: 80%;
  margin: auto;
}
hr.center-sep {
  display:block;
  margin: 3rem auto;
  position:static;
  width:30%;
}

div.data_img {
  height: inherit;
  width: auto;
  transition: 0.2s;
  cursor: pointer;
}

.data_img img {
  width: auto;
  max-width: 100%;
  transition: 0.2s;
}

.data_description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
}

.data_description p {
  margin: 0px;
  line-height: 1.3em;
}

.box_left p {
  margin-left: 30px;
}

.data_description h2 {
  margin: 0 30px 20px;
  line-height: 1em;
  font-size: 25px;
  font-family: Sintony,Georgia,serif;
  font-weight: bold;
}

main {
  padding: 0 60px 0;
  line-height: 1.5em;
  font-size: 17px;
  max-width: 1000px;
  margin: auto;
}

p {
  color: #333;
  overflow: hidden;
}

.menu-button>a {
  color: #333;
  text-decoration: none;
}

.content-text {
  color: #333;
  overflow: hidden;
}

.wrapper_pad {
  margin: 0 80px;
  width: 100%;
  border-top: 2px solid #c1c1c1;
  padding: 60px 0;
  border-bottom: 2px solid #c1c1c1;
}


#main_part {
  text-align: left;
  font-size: 17px;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

.head-part>a {
  text-decoration: none;
}

#img5 {
  max-height: 600px;
  margin:auto;
  transition: 0.2s;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* The Modal (background) */
.modal {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 100px 10% 0;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: max-content;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
  cursor: zoom-in;
}

@keyframes zoom {
  from {
    transform: scale(0.9)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 55px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

#email_address {
  font-size: 35px;
  font-family: Montserrat, Arial, sans-serif;
  margin:auto;
  text-align: center;
  padding: 7rem 0;
}

.method-box {
  grid-template-columns: 50% 50%;
  grid-template-rows: max-content 1fr;
  grid-template-areas: 'coll''viz';
  display: grid;
  font-size: 15px;
  padding:0;
  overflow: auto;
}
.calc {
  margin-bottom: 3rem;
}

.calc ul {
  margin-left: 1em;
}

.project-logo img {
  margin: auto;
  height:100%;
  width:100%;
  border-radius: 15px;
  object-fit: contain;
}
.project-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: max-content 1fr;
  margin-bottom: 2rem;
  transition: 0.2s;
  border-radius: 15px;
}
.project-description {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.project-logo {
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-content: center;
  max-width: 400px;
}

.project-container h1 {
  font-size: 45px;
  line-height: 3rem;
}

@media (max-width: 801px) {
  header, div#main_part {
    min-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .wrapper_pad{
    margin-left:10px;
    margin-right:10px;
  }
  main {
    padding-left:0;
    padding-right: 0;
  }
  .box_left, .box_right{
    grid-template-rows: max-content max-content;
    grid-template-areas: 'first'
                         'second';
    grid-template-columns: none;
    height:max-content;
  }
  .box_left p {
    margin-left: 0px;
  }
  .data_img {
    grid-area: first;
  }
  .data_description {
    grid-area: second;
  }
  .data_description h2{
    margin-top: 2rem;
    margin-left: 0;
  }
  .project-container h1{
    font-size: 25px;
  }
  header.head-part{
    margin: 10px 20px 0;
  }
  h1.head-part{
    font-size:17px;
  }
  .head-part a{
    font-size: 15px;
  }
}
@media (max-width: 470px){
  .project-container h1{
    font-size: 20px;
    line-height: 2rem;
  }
  header, div#main_part {
    min-width: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .container{
    max-width: 370px;
    margin:auto;
  }
  body{
    max-width: 370px;
    margin: auto;
  }
  h1.head-part{
    font-size: 28px;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
  }
  #head-buttons {
    margin-bottom: 0;
  }
  .head-buttons {
    justify-content: space-between;
  }
  #pdf_box_container{
    margin:0;
  }
  #head-grid{
    display:block;
  }
  nav {
    height:25px;
  }
}
